.status-item[type="0"] {
  -moz-binding: url(chrome://twitter/content/twitter.xml#status);
}

.status-item[type="1"] {
  -moz-binding: url(chrome://twitter/content/twitter.xml#reply);
}

.status-item[type="2"] {
  -moz-binding: url(chrome://twitter/content/twitter.xml#direct);
}

/* Hack to fix bug 467360 */
toolbarbutton[type="menu"] {
  -moz-binding: url(chrome://twitter/content/twitter.xml#toolbarbutton-menu);
}
