#main-toolbar toolbarbutton {
  -moz-border-image: url(chrome://twitter/skin/mac/button.png) 2 7 2 7 stretch;
  border-width: 2px 7px 2px 7px;
  padding: 1px 0px 2px 0px;
}

#main-toolbar toolbarbutton:active,
#main-toolbar toolbarbutton[open] {
  -moz-border-image: url(chrome://twitter/skin/mac/pressed.png) 2 7 2 7 stretch;
}

window:not([active="true"]) #main-toolbar toolbarbutton {
  -moz-border-image: url(chrome://twitter/skin/mac/inactive.png) 2 7 2 7 stretch;
}

#main-toolbar .toolbarbutton-icon {
  margin: 0;
  padding: 0;
}

window:not([active="true"]) #main-toolbar .toolbarbutton-icon {
  opacity: 0.6;
}
