richlistbox {
  margin: 0;
}

richlistitem {
  -moz-box-align: start;
}

.author-image {
  margin: 3px;
}

.user {
  font-size: 120%;
  font-weight: bold;
}

#throbber {
  list-style-image: url(chrome://global/skin/icons/notloading_16.png);
}

window[busy="true"] #throbber {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}
