#main-toolbar {
  padding: 5px;
}

#refresh-button {
  list-style-image: url(chrome://twitter/skin/refresh.png);
}

#refresh-button .toolbarbutton-text {
  display: none;
}

#options-button {
  list-style-image: url(chrome://twitter/skin/options.png);
}

#options-button .toolbarbutton-text {
  display: none;
}

#throbber-image {
  list-style-image: url(chrome://global/skin/icons/notloading_16.png);
}

#main-window[busy="true"] #throbber-image {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

#status-list {
  margin: 0;
  border: 0px none;
  -moz-appearance: none;
  color: inherit;
}

.status-item {
  -moz-box-align: start;
  padding: 5px;
  border-bottom: 1px solid #a5a5a5;
}

/* User posted statuses */
.status-item[type="0"][author_type="0"],
.status-item[type="1"][author_type="0"] {
  background-color: #7ded87;
}

/* Sent direct messages */
.status-item[type="2"][author_type="0"] {
  background-color: #86b5fd;
}

/* Received replies */
.status-item[type="1"][target_type="0"] {
  background-color: #f98487;
}

/* Received direct messages */
.status-item[type="2"][target_type="0"] {
  background-color: #ddde76;
}

.left-box {
  padding-right: 2px;
  border-right: 1px solid #a5a5a5;
  margin-right: 5px;
}

.loading-image {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

.avatar-image {
  width: 48px;
  height: 48px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.status-item[type="2"] .overlay-image {
  list-style-image: url(chrome://twitter/skin/message.png);
}

.title-label {
  font-size: 110%;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}

.status-box {
  margin-top: 2px;
  margin-bottom: 2px;
}

.status-div {
  cursor: default;
}

.status-div a {
  color: blue;
}

.age-label {
  text-align: right;
  font-style: italic;
  font-weight: bold;
  color: GrayText;
  margin-left: 0;
  margin-right: 0;
}

.right-box {
  margin-left: 5px;
  width: 16px;
}

.reply-button {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  min-width: 0;
  min-height: 0;
  list-style-image: url(chrome://twitter/skin/reply.png);
  margin-bottom: 5px !important;
}

.reply-button .button-text {
  display: none;
}

.status-item[type="2"] .reply-button {
  list-style-image: url(chrome://twitter/skin/message-reply.png);
}

.status-item[author_type="0"] .reply-button {
  display: none;
}

.home-button {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  min-width: 0;
  min-height: 0;
  list-style-image: url(chrome://twitter/skin/home.png);
  margin-bottom: 5px !important;
}

.home-button .button-text {
  display: none;
}

.status-item[author_homeURL=""] .home-button {
  display: none;
}
