#main-toolbar {
  padding: 5px;
}

#refresh-button {
  list-style-image: url(chrome://twitter/skin/refresh.png);
}

#refresh-button .toolbarbutton-text {
  display: none;
}

#options-button {
  list-style-image: url(chrome://twitter/skin/options.png);
}

#options-button .toolbarbutton-text {
  display: none;
}

#throbber-image {
  list-style-image: url(chrome://global/skin/icons/notloading_16.png);
}

#main-window[busy="true"] #throbber-image {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

#status-list {
  margin: 0;
  border: 0px none;
  -moz-appearance: none;
}

.status-item {
  -moz-box-align: start;
  padding: 5px;
}

.status-item[type="1"][target_type="0"] {
  background-color: #fce94f;
}

.status-item[type="2"][target_type="0"] {
  background-color: #ad7fa8;
}

.status-item[type="2"][author_type="0"] {
  background-color: #8ae234;
}

.avatar-stack {
  margin-right: 5px;
}

.loading-image {
  list-style-image: url(chrome://global/skin/icons/loading_16.png);
}

.avatar-image {
  width: 48px;
  height: 48px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.status-item[type="2"] .overlay-image {
  list-style-image: url(chrome://twitter/skin/message.png);
}

.title-label {
  font-size: 120%;
  font-weight: bold;
}

.status-div {
  cursor: default;
}

.status-div a {
  color: blue;
}

.button-box {
  margin-left: 5px;
}

.reply-button {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  min-width: 0;
  min-height: 0;
  list-style-image: url(chrome://twitter/skin/reply.png);
}

.reply-button .button-text {
  display: none;
}

.status-item[type="2"] .reply-button {
  list-style-image: url(chrome://twitter/skin/message-reply.png);
}

.status-item[author_type="0"] .reply-button {
  display: none;
}
